@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

@media print {
  body {
    margin: 0; /* Remove as margens padrão do pdf */
    padding: 0; /* Remove o padding padrão  do pdf*/
    size: A3 landscape; /* Define o tamanho da página como A3 e paisagem */
  }
}
